@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: grey;
}

#game-area{
  background: black;
  width: 1100px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#player{
  width: 100px;
  height: 50px;
  position: absolute;
  bottom: 100px;
  left: 50%;
}

#enemies-hold{
  position: absolute;
  width: 100%;
  height: 60%;
}

.laser{
  position: absolute;
  border: 1px solid white;
  height: 15px;
  width: 1px;
  animation: shoot 1500ms linear
}

.enemy{
  width: 60px;
  height: 60px;
  position: absolute;
  border: 1px solid white
}

.boom{
  width: 60px;
  height: 60px;
  position: absolute;
}

.row1{
  width: 100%
}



@keyframes shoot {
  0%{
    bottom: 215px
  }
  100%{
    bottom: 100%
  }
}

.welcome-screen{
  color: green;
  position: fixed;
  top: 25%;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
}