*{
  box-sizing: border-box;
  margin: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: grey;
}

#game-area{
  background: black;
  width: 1000px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#player{
  width: 15px;
  height: 15px;
  background: green;
  position: absolute;
  bottom: 200px;
}

.laser{
  position: absolute;
  border: 1px solid white;
  height: 15px;
  width: 1px;
  bottom: 210px;
  animation: shoot 2000ms linear
}

.enemy{
  width: 25px;
  height: 25px;
  position: absolute;
}

.row1{
  top: 50%;
}



@keyframes shoot {
  0%{
    bottom: 215px
  }
  100%{
    bottom: 100%
  }
}